[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
requests = "*"
matplotlib = "*"
jupyter = "*"
imdbpy = "*"
pandas = "*"

[requires]
python_version = "3.6"
